@import '~antd/es/style/themes/default.less';
.operateContainer {
  height: 100%;
  -moz-user-select: -moz-none;
  -moz-user-select: none;
  -o-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.mzSiderbar {
  position: fixed;
  z-index: 999;
  width: 50px;
  height: calc(100% - 37px);
  color: white;
  background: @primary-7;
}

.mzToolbar {
  box-sizing: border-box;
  height: 37px;
  padding: 0;
  color: #fff;
  background-color: @primary-color;
}

.mzMainContainer {
  float: right;
  width: calc(100% - 50px);
  height: calc(100% - 37px);
}

.mzDesignBoard {
  position: relative;
  z-index: 2;
  float: left;
  width: calc(100% - 280px);
  height: 100%;
  background: white;
}

.mzDesignSetting {
  position: relative;
  float: right;
  width: 280px;
  height: 100%;
  border-left: 1px solid rgba(0, 40, 100, 0.12);
}

.mzDesignSettingHeader {
  width: 279px;
  height: 40px;
  color: @primary-color;
  text-align: center;
  background-color: rgba(70, 127, 207, 0.06);

  :global {
    .ant-radio-group {
      height: 40px;
      display: flex;
    }
    .ant-radio-button-wrapper {
      height: 40px;
      line-height: 40px;
      flex: 1 1 auto;
      border: none !important;
      background-color: transparent;
      padding: 0 24px;
    }
    .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
      background-color: #fff;
    }
    .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):focus-within {
      box-shadow: unset;
    }
    .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled)::before, .ant-radio-button-wrapper:not(:first-child)::before {
      background-color: unset;
    }
  }
}
