.mzDesignBoardToolbar {
  width: 100%;
  height: 40px;
  color: #467fcf;
  line-height: 40px;
  background-color: rgba(70, 127, 207, 0.06);
  padding: 0 32px;
}

.mzDesignBoard {
  float: right;
  height: 100%;
  
  :global {
    .ant-drawer-header {
      padding: 8px 4px 8px 24px;
      text-align: center;
    }
  }
}

.mzDesignBoardArea {
  padding: 16px;
  height: calc(100% - 73px);
}

.mzDesignBoardMenu {
  color: #467fcf;
  float: right; 
  font-size: 22px;
 }