@import '~antd/es/style/themes/default.less';
.mzHeaderWrapper {
  padding: 0 0 0 24px;
  line-height: 37px;
}

.mzCloseBtnWrapper {
  cursor: pointer;
  text-align: center;
}

.mzCloseBtnWrapper:hover, .mzHeaderBtnWrapper:hover {
  background-color: @primary-8;
}

.mzHeaderBtnWrapper {
  padding: 0px 8px;
  display: inline-block;
  cursor: pointer;
  color: white;
}