.canvasContainer {
    height: 100%;
    :global {
        .react-grid-item {
            box-shadow: 0 2px 8px 0 rgba(0,0,0,.2);
        }
        .react-grid-placeholder {
            background-color: #6e9fdb;
        }
    }
}

.canvasWrapper {
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}