@import '~antd/lib/style/themes/default.less';

.pageBasic {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: center;
  justify-content: center;
  min-height: 100%;
}

.pageMain {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

.pageHeader {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  background: #fff;
  border-bottom: 1px solid rgba(0, 40, 100, 0.12);
}

.headerBrand {
  color: inherit;
  margin-right: 1rem;
  font-size: 1.25rem;
  white-space: nowrap;
  font-weight: 600;
  padding: 0;
  transition: 0.3s opacity;
  line-height: 2rem;
}

.headerBrandImg {
  height: 2rem;
  line-height: 2rem;
  vertical-align: bottom;
  margin-right: 0.5rem;
  width: auto;
}

img {
  max-width: 100%;
}

img {
  vertical-align: middle;
  border-style: none;
}

.container {
  width: 100%;
  padding-right: 0.75rem;
  padding-left: 0.75rem;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1366px) {
  .container {
    max-width: 1366px;
  }
}
@media (min-width: 1680px) {
  .container {
    max-width: 1480px;
  }
}

.pageHeaderMenu {
  padding: 0 !important;
  background: #fff;
  border-bottom: 1px solid rgba(0, 40, 100, 0.12);
}

.menuInputContainer {
  margin: auto;
}

.pageContent {
  margin-top: 1.5rem !important;
}

.pageFooter {
  background: #fff;
  border-top: 1px solid rgba(0, 40, 100, 0.12);
  font-size: 0.875rem;
  padding: 1.25rem 0;
  color: #9aa0ac;
  position: sticky;
  bottom: 0;
  width: 100%;
}

.customMenuStyle {
    :global {
        .ant-menu, .ant-menu-horizontal > .ant-menu-item a {
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            color: #9aa0ac;
        }
        .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu {
            padding: 0 4px 0 0;
        }
    }
}

.subMenuClassName {
    :global {
        .ant-menu {
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            color: #6e7687;
        }
    }
}
